.header{
         text-align: center;
         color:darkblue;
         border:solid 3px ;
         font-family:monospace;
         background-color:azure;
         
}
.subheading{
    height:auto;
    width:auto;
    color:brown;
    

    }

.section{
    margin-top:30px;
    border: 3px solid red;
    padding-left: 20px;
    


}
.aside{
    border:3px inset #006400;
    margin-top: 30px;
    padding-left: 20px;
    border-width: 100px;

    
}
.footer{
    border:solid 3px darkred;
    padding-left: 50px;
    margin-top: 10px;
    background-color: yellow;
    
}
.web{
    border:solid 3px black;
    
}
.logo{
    border:solid 3px red;
    padding:10px 50px 10px 600px;
    margin:15px 0px 10px 0px;
    border-radius: 200px 200px 200px 200px;
}
