

.header{
         text-align: center;
         color:white;
         border:solid 3px ;
         font-family:monospace;
         font-size: 20px;
         background-color:blue;
         
}
.subheading{
    height:auto;
    width:auto;
    color:white;
    font-size: 20px;
    

}
#navbar{
         background-color: white;
         border: 5px solid darkblue;
         border-radius: 15px;
         margin:30px;
        
         
         
}
#navbar ul{
    overflow:auto;
    
}
#navbar li{
    float: left;
    list-style: none;
    margin: 3px 6px;
    
}
#navbar li a{
    padding: 3px 3px 3px 3px;
    color:black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    text-
    
    
}
#navbar li a:hover{
    background-color:red;
}
.search{
     float:right;
     color:white;
     padding:0px 30px 0px 0px;
}
.search input{
     border:3px solid black;
     border-radius: 8px;
     width: 170px;
}


.section{
    margin:30px 0px 30px 0px;
    border: 3px solid darkblue;
    padding-left: 20px;
    color: darkblue;
    background-color: white;
    


}

.websites link{
   /* border:solid 3px darkblue;*/
    
}
.logo{
    border:solid 3px darkblue;
    padding:10px 50px 10px 600px;
    height:auto;
    width: auto;
    margin:30px 0px 30px 0px;
    border-radius: 200px 200px 200px 200px;
}

.youtube{

    color:darkblue;
    text-align: center;
}

.developerprofile{
    border:3px solid darkblue;
    margin: 30px 0px 50px 0px;
    padding-left: 20px;
    border-width: 5px;
    color: white;
    background-color: darkblue;
    /*border-radius: 50px 50px 50px 50px;*/

}

.footer{
    border:solid 3px darkblue;
    padding-left: 50px;
    margin-top: 10px;
    color:white;
    background-color:darkblue;
    
}
.copyright{
    text-align: center;
}
